<div class="container p-2 m-2">
  <div class="card p-2">
    <div class="row">
      <div class="col">
        <h4>Nöbet Tutulacak Ayı Seç</h4>
        <div>
          <p-calendar id="monthPicker" [(ngModel)]="selectedMonth" (ngModelChange)="onDutyDaySelected($event)"
            view="month" dateFormat="yyyy-mm" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true"
            yearRange="2025:2040" placeholder="Ay seç"></p-calendar>
        </div>

      </div>
      @if (dutyDays.length > 0) {
      <div class="col">
        <h4>Kişi Ekle</h4>
        <button class="btn btn-success" (click)="openCreateModel()">
          <i class="pi pi-user me-2"></i> Kişi Ekle
        </button>
      </div>
      }

    </div>

    <div class="d-flex justify-content-end w-100 mt-2">
      <div class="form-check">
        <button class="btn btn-danger" (click)="reset()">
          <i class="pi pi-refresh me-2"></i> Reset
        </button>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col">
        @if (persons.length > 0) {
        <div class="card p-2">
          <h2 class="mt-2 text-center">Kişiler</h2>

          <div class="justify-content-between align-items-center mb-2">
            <div class="row">
              <h5 class="col-md-4">Adı</h5>
              <h5 class="col-md-2">Nöbet Sayısı</h5>
              <h5 class="col-md-2">Nöbet Ağırlığı</h5>
              <h5 class="col-md-4 text-center">İşlemler</h5>
            </div>
            <hr class="my-2" style="border:2px solid #000000" />

            @for (person of sortedPersons; track $index) {
            <!-- Kişi Adı -->
            <div class="row mb-2 p-1 align-items-center">
              <div class="col-md-4">{{person.name}}</div>
              <div class="col-md-2">{{person.dutyDayCount}}</div>
              <div class="col-md-2">{{person.dutyDayWeight}}</div>
              <div class="col-md-4 d-flex flex-column align-items-center">
                <button class="btn btn-outline-warning mb-2" (click)="openEditModal(person)" title="Güncelle">
                  <i class="pi pi-pencil me-1"></i> Güncelle
                </button>

                <button class="btn btn-outline-danger" (click)="removePerson(person.id)" title="Sil">
                  <i class="pi pi-trash me-1"></i> Sil
                </button>
              </div>

            </div>
            <hr class="mb-2 text-black" />
            }
          </div>
          <div class="d-flex justify-content-end my-3">
            <button class="btn btn-success mx-1" (click)="resetAllPersonNotAvailableDays()">
              <i class="pi pi-sort me-2"></i> Herkese Tüm Tarihleri Ata
            </button>
            <button class="btn btn-danger mx-1" (click)="removeAllPerson()">
              <i class="pi pi-trash me-2"></i> Tümünü Sil
            </button>
          </div>
        </div>
        }

      </div>
      <div class="col"></div>
    </div>
    @if (assignedDates.length > 0) {
    <div class="d-flex justify-content-end my-3">
      <button class="btn btn-primary mx-1" (click)="resetAssignDates()">
        <i class="pi pi-sync me-2"></i> Karıştır
      </button>
      <button class="btn btn-warning mx-1" (click)="tryAssign()">
        <i class="pi pi-arrow-right me-2"></i> Atamaya Çalış
      </button>
      <button class="btn btn-success" (click)="exportExcel()">
        <i class="pi pi-file-excel me-2"></i> Excel Olarak İndir
      </button>
    </div>
    }
    @if(unassignedDatesCount > 0){
    <div class="d-flex justify-content-end text-danger">{{unassignedDatesCount}} tarihe kimse atanamadı! </div>
    }
    @if(assignedDates.length > 0){
    <p class="mt-3 fw-bold">
      Seçilen Tarihler ve Atananlar:
    </p>
    }
    <div class="container">
          <div class="row">
      @for (day of ['Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi','Pazar']; track $index) {
      <h5 class="col text-center">{{day}}</h5>
      }
    </div>
      @for(row of assignedDatesView; track $index;){
        <div class="row">
        @for (assignedDate of row; track $index;) {
        <div [style.background-color]="assignedDate?.color" class="col card text-center m-1 border-radius border-primary">
          <!-- Eğer assignedDate null değilse, göster -->
          <div  class="p-4" *ngIf="assignedDate">
            <i class="pi pi-calendar text-success fs-1"></i>
            <span class="d-block"> 
            {{assignedDate.personName}}
            </span>
            <span class="mt-2 mb-0">  {{assignedDate.assignedDate | date: 'dd/MM/yyyy' }}</span>
          </div>
          <!-- Eğer assignedDate null ise, boşluk göster -->
          <div class="p-4" *ngIf="!assignedDate"> 
            <i class="pi pi-calendar-times text-secondary" style="font-size: 5rem"></i> 
          </div>
          
        </div>
        }
      </div>
      }
      
    </div>
  </div>
  <!-- MODAL -->
  @if(showModal) { <div class="modal fade show d-block" tabindex="-1" role="dialog"
    style="background: rgba(0, 0, 0, 0.5)">
    <div class="modal-dialog" role="document">
      <div class="modal-content p-3">
        <h5 class="modal-title">
          {{ isEditing ? "Kişiyi Güncelle" : "Kişi Ekle" }}
        </h5>
        <div class="form-group mb-2">
          <label>İsim</label>
          <input type="text" class="form-control" minlength="3" maxlength="30" [(ngModel)]="selectedPerson.name" />
        </div>

        <div class="form-group mb-2">
          <label class="d-block mb-1">Atanamaz Nöbet Tarihleri</label>
          <p-multiSelect [options]="sortedDutyDays" [(ngModel)]="selectedPerson.notAvailableDays" optionLabel="label"
            display="chip" placeholder="Tarihleri Seç" [filter]="true"></p-multiSelect>
        </div>

        <div class="d-flex justify-content-end">
          <button class="btn btn-secondary me-2" (click)="closeModal()">
            İptal
          </button>
          <button class="btn btn-success" (click)="savePerson()">Kaydet</button>
        </div>
      </div>
    </div>
  </div>}